// add colors to the manifest file so that it can be referenced in the application.scss file //

$green: #71bf99;
$light-green: #93bda8;
$lighter-green: #afc1b8;
$lightest-green: #d3ded89f;
$dark-green: #4a8c6e;
$darker-green: #34634e;
$darkest-green: #274a3a;


$primary: $green;
