<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Regal - Fine Dining</title>
    <meta name="description" content="The Regal is a mockup of a restaurant web page by Jonathan Dunseath">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->

    <link rel="stylesheet" href="css/pages/menu.scss">
   <%#  <link rel="stylesheet" href="css/main.min.css"> %>
</head>

<body class="menu">
  <div class="menu-background">
    <div class="menu-overlay">
      <h1 class="menu-header">Menu</h1>


      <div class="menu-text">

        <ul>BRAISED OX CHEEK, glazed carrots,creamy mash,</ul>
        <ul> salsa verde & crispy onions £25</ul>

        <ul>BLACKENED CAJUN SALMON, spiced jambalaya rice, </ul>
        <ul>chorizo & tiger prawn £21.5</ul>

        <ul>ROASTED CELERIAC, pearl barley, sautéed mushrooms, </ul>
        <ul>Parmesan & crispy shallots £15</ul>
        <ul>CHICKEN & HAM HOCK PIE, buttered greens,</ul>
        <ul> creamy mash & gravy £17</ul>
        <ul>8OZ RIBEYE STEAK, triple cooked chips, roasted tomato,</ul>
        <ul>garlic butter & watercress £26</ul>
        <ul>WILD MUSHROOM RISOTTO, truffle oil,</ul>
        <ul>Parmesan & crispy shallots £16</ul>


      </div>

    </div>




  </div>
</div>






</body>

    <div class=footer-div>
       <!--Start Footer-->
        <footer>
            <div class="text">
                <h2>ABOUT JONNY'S PLAICE</h2>
                <div><i class="fas fa-asterisk"></i></div>
                <p>The Regal is a place where creativity and passion for both food and service collide. Our beautiful decor will give you a feast for your eyes and our chef's will supply the most excuisite of culinery feasts.</p>
            </div>
            <div class="contact-container">
              <div class="social-media">
                  <h3>Follow Along</h3>
                  <div class="links">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-facebook-square"></i></a>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
                <div class="newsletter">
                  <h3>NewsLetter</h3>
                    <form method="post">
                        <input type="email" name="email" placeholder="Type Your Email">
                        <i class="fas fa-envelope"></i>
                    </form>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </div>
